doctype html

head
  title Social Recovery

  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1')

  link(rel='stylesheet', href='bootstrap.min.css')
  link(rel='stylesheet', href='style.css')

body
  //- #content.container
    h1 Wallet backup

    h2 User backup
      pre= user_backup_hex
    
    h2 Shares
      for share in shares
        h4 #{label} (requires #{params.required_shares} of #{params.total_shares})
        if text
          p.text-muted= text
        pre= share.hex
        hr

  script(src='index.js')
